*.vcxproj.user
*.sdf
*.opensdf
*.suo
*.obj
*.tlog
*.manifest
*.log
*.lastbuildstate
ipch

mk/msvs10/Release/*
mk/msvs10/Debug/*

out/win-x86/NightCityBlues2.exe

ext/sdl/*
ext/sdl-static-my/*
ext/orge3d-src/*
ext/ogre3d-static/*

scr/*
