*.vcxproj.user
*.sdf
*.opensdf
*.suo
*.obj
*.tlog
*.manifest
*.log
*.lastbuildstate
ipch

mk/msvs10/Release/*
mk/msvs10/Debug/*

out/win-x86/NightCityBlues2.exe

ext/ogre3d-src/*
ext/ogre3d-static/*
ext/ogremax/3DSMax/*
ext/ogremax/OgreMaxViewers/*

scr/*
